@{
    ViewBag.Title = "Quản Lý Chung Tuyển Dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li>
            <a href="/tuyendung/quanlychung">
                Quản Lý Chung Tuyển Dụng
            </a>
        </li>
        <li class="active">Danh Sách Chưa Hoàn Thành</li>
    </ol>
</div><!--/.row-->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Quản Lý Chung Tuyển Dụng</h1>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Ngày hết hạn sửa thông tin ứng tuyển <b>22-12-2018</b>
        <ul class="pull-right panel-settings panel-button-tab-right">
            <li class="dropdown">
                <a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
                    <em class="fa fa-cogs"></em>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <ul class="dropdown-settings">
                            <li>
                                <a href="#">
                                    <em class="fa fa-cog"></em> Cập nhật
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Trang thái đăng kí
    </div>
    <div class="panel-body">
        <div class="panel panel-container">
            <div class="row">
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                    <a href="/tuyendung/quanlychung/danhsachdangki">
                        <div class="panel panel-teal panel-widget border-right">
                            <div class="row no-padding">
                                <em class="fa fa-xl fa-pencil-square-o color-blue"></em>
                                <div class="large">120</div>
                                <div class="text-muted">Đăng Kí</div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                    <a href="/tuyendung/quanlychung/danhsachhoanthanh">
                        <div class="panel panel-blue panel-widget border-right">
                            <div class="row no-padding">
                                <em class="fa fa-xl fa-check-square-o color-teal"></em>
                                <div class="large">52</div>
                                <div class="text-muted">Hoàn Thành</div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                    <a href="/tuyendung/quanlychung/danhsachchuahoanthanh">
                        <div class="panel panel-orange panel-widget border-right">
                            <div class="row no-padding">
                                <em class="fa fa-xl fa-ban color-red"></em>
                                <div class="large">24</div>
                                <div class="text-muted">Chưa Cập Nhật</div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                    <a href="/tuyendung/quanlychung/danhsachhosohople">
                        <div class="panel panel-red panel-widget ">
                            <div class="row no-padding">
                                <em class="fa fa-xl fa-check color-teal"></em>
                                <div class="large">25.2k</div>
                                <div class="text-muted">Hợp Lệ</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div><!--/.row-->
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Danh sách chưa hoàn thành
        <span class="pull-right panel-toggle panel-button-tab-left"><em class="fa fa-download fa-xl color-orange"></em></span>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-condensed" id="danhsachchuahoanthanh">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Họ Và Tên Lót</th>
                    <th>Tên</th>
                    <th>Mã Đăng Kí</th>
                    <th>Số CMND</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td>twitter</td>
                    <td>Otto</td>
                    <td>Otto</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#danhsachchuahoanthanh').DataTable();
    });
</script>

