
@{
    ViewBag.Title = "Môn dự tuyển";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Môn dự tuyển</li>
    </ol>
</div><!--/.row-->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Môn Dự Tuyển</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Giáo Viên
                <ul class="pull-right panel-settings panel-button-tab-right">
                    <li class="dropdown">
                        <a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
                            <em class="fa fa-cogs"></em>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <ul class="dropdown-settings">
                                    <li>
                                        <a href="#">
                                            <em class="fa fa-cog"></em> Cập nhật
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <ul class="todo-list">
                    <li class="todo-list-item">
                        <div class="checkbox">
                            <label for="checkbox-1">Make coffee</label>
                        </div>
                    </li>
                    <li class="todo-list-item">
                        <div class="checkbox">
                            <label for="checkbox-1">Make coffee</label>
                        </div>
                    </li>

                    <li class="todo-list-item">
                        <div class="checkbox">
                            <label for="checkbox-1">Make coffee</label>
                        </div>
                    </li>
                    <li class="todo-list-item">
                        <div class="checkbox">
                            <label for="checkbox-1">Make coffee</label>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Nhân Viên
                <ul class="pull-right panel-settings panel-button-tab-right">
                    <li class="dropdown">
                        <a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
                            <em class="fa fa-cogs"></em>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <ul class="dropdown-settings">
                                    <li>
                                        <a href="#">
                                            <em class="fa fa-cog"></em> Cập nhật
                                        </a>
                                    </li>                                  
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <ul class="todo-list">
                    <li class="todo-list-item">
                        <div class="checkbox">
                            <label for="checkbox-1">Make coffee</label>
                        </div>
                    </li>
                    <li class="todo-list-item">
                        <div class="checkbox">
                            <label for="checkbox-1">Make coffee</label>
                        </div>
                    </li>

                    <li class="todo-list-item">
                        <div class="checkbox">
                            <label for="checkbox-1">Make coffee</label>
                        </div>
                    </li>
                    <li class="todo-list-item">
                        <div class="checkbox">
                            <label for="checkbox-1">Make coffee</label>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>