
@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Quản Lý Tài Khoản</li>
    </ol>
</div><!--/.row-->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Quản Lý Tài Khoản</h1>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Danh sách tài khoản     
        <span class="pull-right panel-toggle panel-button-tab-left"><em class="fa fa-plus fa-xl color-blue"></em></span>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tên Tài Khoản</th>
                    <th>Mật Khẩu</th>
                    <th>Họ Và Tên</th>
                    <th>Mã</th>
                    <th>Quyền</th>
                    <th>Trạng Thái</th>
                    <th>Thao Tác</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td><span class="label label-success">Success</span></td>
                    <td>
                        <button class="btn btn-primary btn-sm"><span class="fa fa-edit"> Chi tiết</span></button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>